
@import '../style.scss';

.heading-image {
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('http://localhost:3000/images/boat.jpeg'); /* TODO: cambia questo link */
}

.text-justify {
    text-align: justify;
}

.title-description {
    color: $secondary !important;
}

.content-div, .spacer {
    background-color: $secondary-background;

}