

@import '@/style.scss';

.navbar {
    background-color: $dark-acqua;
    transition: .3s;
    width: 100vw;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.nospace {
    display: none;
}
.navbar-style {
    height: 15vh;
}

.navbar-style-collapsed {
    height: 8vh;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 5vh !important;
    color: $white;
    vertical-align: top;
    transition: .3s;
}

.navbar-brand:hover {
    color: $acqua;
}

.hamburger-icon {
    color: $white;
    font-size: 3vh !important;
    transition: .3s;
}

.hamburger-icon:hover {
    color: $acqua;
}

.nav-link {
    color: $white !important;
    font-size: 1.563rem;
}

.nav-expanded-link {
    text-decoration: underline;
    color: $white !important;
    font-family: 'Playfair Display', serif;
}

.expanded-navbar{
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    overflow: hidden;
    background-color: $dark-acqua;
    position: absolute;
    display: flex;
}

.navbar-button-expanded {
    background-color: transparent;
    color: $white;
    border: 0px;
}