
body {
    background-color: #D4F1F4;
}
.full-button {
    align-items: center;
    border: 5px solid white;
    color: white;
    background-color: transparent;
    min-height: 30vh;
    transition: .3s;
}

.full-button:hover{
    scale: 1.05;
    color:beige;
    border-color: beige;
}
.buttons-container {
    height: 100vh;
}
@media (min-width: 768px) { /* Standard medium bootstrap media size */
    .heading-container {
        position: absolute;
        top: 0;
        left: 0;
    }
    
}


/* Scorrimento */

.card-container {
    background-color: #189AB4;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 10px -10px 15px #75E6DA;
    border-radius: 15px;
}

.card-image{
    width: 100vw;
    max-height: 75vh;
    object-fit:contain;
    object-position: center;
}

.card-position{
    color: snow;
}

.card-description{
    color: snow;
}