#main {
    margin: 50px 0;
    padding-top: 15vh;
  }
  
  #main #faq .card {
    margin-bottom: 30px;
    border: 0;
  }

  h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh !important;
    text-align: center;
    margin-bottom: 10vh;
  }
  
  #main #faq .card .card-header {
    border: 1px black;
    -webkit-box-shadow: 0 0 20px 0 rgba(34, 32, 32, 0.5);
            box-shadow: 0 0 20px 0 rgba(34, 32, 32, 0.5);
    border-radius: 2px;
    padding: 0;
  }
  
  #main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    color: #222;
    padding: 20px;
  }
  
  #main #faq .card .card-header .btn-header-link:after {
    font-family: 'FontAwesome 6 Free';

    content: "\f106";
    font: var(--fa-font-solid);
    font-weight: 900;
    float: right;
  }
  
  /*#main #faq .card .card-header .btn-header-link.collapsed {
    background: #A541BB;
    color: #fff;
  }*/
  
  #main #faq .card .card-header .btn-header-link.collapsed:after {
    font-family: 'FontAwesome 6 Free';

    font: var(--fa-style-family);
    font: var(--fa-font-solid);
    content: "\f107";
  }
  
  /*#main #faq .card .collapsing {
    background: #FFE472;
    line-height: 30px;
  }
  
  #main #faq .card .collapse {
    border: 0;
  }
  
  #main #faq .card .collapse.show {
    background: #FFE472;
    line-height: 30px;
    color: #222;
  }*/