/* Scorrimento */
@import '@/style.scss';

.cards-box {
    width: 100vw;
}

.card-container {
    height: 200vh;
    width: 100vw;
}

.card-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.card-position{
    color: $dark;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
    text-decoration-color: $acqua;
    text-decoration-thickness: 3px;
}
.card-position-col {
    width: 100vw;
    height: min-content;
    z-index: 10000;
    background-color: $white;
}

.card-description{
    color: $text-black;
    font-family: 'Alice', serif;
}
