$background: white;
$secondary-background: #195C65;
$foreground: #121111;
$secondary: #A56326;
$shadow: #143C42;


@import '../node_modules/bootstrap/scss/bootstrap.scss';
body {
    background-color: $background;
    color: $foreground;
    padding: 0 !important;
    margin: 0 !important;
}
