@import '@/style.scss';


/* Punta e clicca */

.full-container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
}

.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 5fr 5fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.text-area {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(18, 135, 139, 0.66) 10%); 
    grid-area: 1 / 3 / span 3 / span 2;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.eye {
    grid-area: 1 / 4 / span 1 / span 1;
    color: $white;
    z-index: 1;
    transition: .3s;
    border-radius: 50%;
}

.eye:hover {
    transform: rotate(45deg);
}
.arrow{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: $black;
    transition: .2s;
    transform: scale(1.5);
}

.arrow:hover {
    cursor: none;
}

.cursor-outline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vw;
    height: 10vw;
    transform: translate(-50%,-65%);
    border-radius: 50%;
    z-index: -1;
}
.cursor-outline {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #fffffe67;
    border: 2px solid $white;
    z-index: -1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: pulse;
}

.cursor-text {
    text-align: center;
    width: min-content;
    position: absolute;
    top: 0;
    left: auto;
    transform: translateY(-20%);
    font-family: 'Playfair Display', serif;
    color: $white;
    background-color: #12878b93;
    border-radius: 15%;
}

.cursor-dot {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 57.5%;
    left: 52.5%;
    background-color: $dark-acqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $white;
    z-index: 0;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.back {
    grid-area: 1 / 1 / 2 / 2;
    transition: .4s;
    background-color: rgba(18, 135, 139, 0.66);
    border-width: 0px;
    color: $white;
    z-index: 1;
}

.back:hover {
    transform: rotate(-45deg);
}

.left {
    grid-area: 2 / 1 / 4 / span 1;
}
.left:hover {
    scale: 1.3;
    color: black;
    transform:translateY(-10%);
}

.down {
    grid-area: 3 / 2 / span 4 /4;
    scale:1.3;
}
.down:hover {
    scale: 1.3;
    color: black;
    transform:translateY(-20%);
}

.right {
    grid-area: 2 / 4 / span 2 /span 1;
}
.right:hover {
    scale: 1.3;
    color: black;
    transform:translateY(-10%);
}
.up {
    grid-area: 1 / 2 / span 1 /span 2;
}
.up:hover {
    scale: 1.3;
    color: black;
    transform:translateY(20%);
}
.text-area {
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-container {
    height: min-content;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
}
.title {
    color: $white;
    text-decoration: underline;
    text-align: start;
}
.description-text {
    text-align: start;
    color: $white;
}

$interval: .4s;

.fade-left-enter {
    transform: translateX(-100vw);
}
.fade-left-enter-active {
    transform: translateX(0%);
    transition: transform $interval ease-in-out;
}
.fade-left-exit {
    z-index: -11;
    transform: translateX(0%);
}
.fade-left-exit-active {
    z-index: -11;
    transform: translateX(0%);
}

.fade-right-enter {
    transform: translateX(100vw);
}
.fade-right-enter-active {
    transform: translateX(0%);
    transition: transform $interval ease-in-out;
}
.fade-right-exit {
    z-index: -11;
    transform: translateX(0%);
}
.fade-right-exit-active {
    z-index: -11;
    transform: translateX(0%);
}

.fade-up-enter {
    transform: translateY(-100vh);
}
.fade-up-enter-active {
    transform: translateY(0%);
    transition: transform $interval ease-in-out;
}
.fade-up-exit {
    z-index: -11;
    transform: translateY(0%);
}
.fade-up-exit-active {
    z-index: -11;
    transform: translateY(0%);
}

.fade-down-enter {
    transform: translateY(100vh);
}
.fade-down-enter-active {
    transform: translateY(0%);
    transition: transform $interval ease-in-out;
}
.fade-down-exit {
    z-index: -11;
    transform: translateY(0%);
}
.fade-down-exit-active {
    z-index: -11;
    transform: translateY(0%);
}